name: Deploy to Firebase Functions

on:
  push:
    branches:
      - master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python3.11 -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt

      - name: Deploy to Firebase Functions
        run: |
          npm install -g firebase-tools
          echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_TELEGRAM_EXPENSE_BOT }}' > ./gcloud-key.json
          firebase deploy --only functions --project homework-taskbot
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ./gcloud-key.json
