name: Deploy to Firebase Functions

on:
  push:
    branches:
      - master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python3.11 -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt

      - name: Deploy to Firebase Functions
        run: |
          npm install -g firebase-tools
          echo "TELEGRAM_BOT_TOKEN=${{ secrets.TELEGRAM_BOT_TOKEN }}" > .env
          echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_TELEGRAM_EXPENSE_BOT }}' > ./gcloud-key.json
          firebase deploy --only functions --project homework-taskbot
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ./gcloud-key.json
      
      - name: Test Function Reachability
        run: |
          FUNCTION_URL="https://webhook-4rqu4jotja-ew.a.run.app" # Replace with your actual function URL
          curl -X POST -H "Content-Type: application/json" -d '{"test": "ping"}' $FUNCTION_URL
