name: Deploy to Firebase Functions

on:
  push:
    branches:
      - master

jobs:
  deploy_function:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          cd functions
          python3.11 -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt
          cd ..

      - name: Authenticate to Google Cloud
        id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: 'projects/1012765918018/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
          service_account: 'telegram-bot-deployer@homework-taskbot.iam.gserviceaccount.com' # Replace with your service account email

      - name: Deploy to Firebase Functions
        id: deploy
        uses: google-github-actions/deploy-cloud-functions@v2
        with:
          name: webhook
          runtime: python311
          entry_point: webhook
          region: europe-west1
          source_dir: functions
          set_env_vars: TELEGRAM_BOT_TOKEN=${{ secrets.TELEGRAM_BOT_TOKEN }}
